steamship_langchain==0.0.25
pytimeparse
termcolor
steamship@git+https://github.com/steamship-core/python-client@ec/optional-telegram
langchain==0.0.209
pypdf
youtube_transcript_api
pytube
scrapetube
google-api-python-client
